.navbar {
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  height: 100px;
  width: auto;
}

.nav > a {
  text-decoration: none;
  font-size: 20px;
}
.nav-link {
  font-size: 20px !important;
}
